<div class="home-container position-relative">
  <div class="background-image position-absolute w-100 h-100 opacity-75"></div>
  <div class="content position-absolute top-50 start-50 translate-middle text-center text-white">
    <h1 class="epic-title">WELCOME TO THE RIGHT PRICE</h1>
    <p class="lead epic-text">Are you ready to test your knowledge of magic card prices?</p>
    <button
      class="btn btn-lg btn-outline-light epic-button"
      (click)="startGame()"
    >Let the epic journey begin!</button>
  </div>
</div>
